body{
	font-family: 'BioRhyme', serif;
}

h1{
	font-family: 'Merriweather', serif;
	font-size: 100px;
	color: grey;
	padding-right: 215px;
}


.primary-bar{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-top: 50px;
 height: 100px;
}

.elements-primary-bar{
 text-decoration: none;
 padding: 15px;
 color: grey;
}

.trademark{
 display: flex;
 justify-content: space-around;
}

.personal-wrapper{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.rladies-logo{
	width: 150px;
}

.adalab-logo{
	margin-top: 50px;
}

.team{
 display: flex;
 justify-content: space-around;
 margin-top: 150px;

}

.personal-info{
 max-width: 200px;
 text-align: center;
}

.profile-picture {
 height: 200px;
 width: 200px;
 background-color: grey;
 background-size: cover;
 background-position: center;
 border-radius: 50%;
}

.info-logo{
 display: flex;
 justify-content: space-around;
}

.info{
	margin-top: 130px;
}
.section-title{
 text-transform: uppercase;
 text-align: center;
 color: grey;
 font-size: 30px;
 font-weight: bold;
}

.general-footer{
 background-color: grey;
 margin-top: 100px;
}

.footer-wrapper{
 padding: 15px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.footer-list-wrapper{
 padding: 0;
 list-style: none;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.logo-footer{
 width: 25px;
 padding-right: 15px;
}

.footer-text{
 color: white;
 margin: 0 auto;
 margin-right: 25px;
 font-size: 15px;
}

.copy{
color: white;
}

.general-team{
	margin-top:130px;
}

#notices{
	margin-top: 100px;
}